body {
    background: #f8fafc;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background: white;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
} 

header h1 {
    margin: 0;
    font-size: 32px;
    color: #38bdf8;
}

.about {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 20px;
    gap: 40px;
}

.about img {
    width: 180px;
    border-radius: 50%;
    border: 4px solid #38bdf8;
}

.projects {
    padding: 50px 20px;
    text-align: center;
}

.project-cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.project-card {
    background: #1e293b;
    padding: 20px;
    width: 250px;
    border-radius: 10px;
    transition: 0.3s;
}

.project-card:hover {
    transform: translateY(-10px);
}

.demo-btn {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 15px;
    background: #1e3a8a;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
}

.demo-btn:hover {
    background: white;
}

footer {
    text-align: center;
    padding: 20px;
    background: #1e293b;
} 
section {
    background: white;
    padding: 60px 20px;
    margin: 40px auto;
    max-width: 1100px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}
