body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #111;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: black;
}

header h1 {
    color: gold;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: 500;
}

nav a:hover {
    color: gold;
}

.hero {
    text-align: center;
    padding: 120px 20px;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7));
}

.hero h2 {
    font-size: 48px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 20px;
}

.btn {
    padding: 12px 25px;
    background: gold;
    color: black;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

.btn:hover {
    background: white;
}

.section {
    padding: 80px 50px;
    text-align: center;
}

.section h2 {
    color: gold;
    margin-bottom: 40px;
}

.menu-items {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.item {
    background: #1a1a1a;
    padding: 30px;
    width: 200px;
    border-radius: 10px;
    transition: 0.3s;
}

.item:hover {
    transform: translateY(-5px);
    background: #222;
}

footer {
    text-align: center;
    padding: 30px;
    background: black;
    margin-top: 40px;
  }
