*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, sans-serif;
}

body{
background:linear-gradient(135deg,#0f0f0f,#1c1c1c);
color:white;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
text-align:center;
}

.container{
width:400px;
}

#gameArea{
position:relative;
width:100%;
height:300px;
background:#111;
border-radius:15px;
margin:20px 0;
overflow:hidden;
}

#target{
width:50px;
height:50px;
background:#f5c518;
border-radius:50%;
position:absolute;
cursor:pointer;
display:none;
}

button{
padding:10px 20px;
background:#f5c518;
border:none;
border-radius:5px;
font-weight:bold;
cursor:pointer;
}

button:hover{
background:white;
color:black;
} 
